<!-- Table to display list of persons -->
<div class="container">
  <button (click)="addPerson()" class="btn btn-success mb-3">New Person</button>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Of Birth</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons" >
        <td >{{ person.firstName }}</td>
        <td >{{ person.lastName }}</td>
        <td >{{ person.dateOfBirth | date }}</td>
        <td >{{ getGenderTypeName(person.genderTypeId) }}</td>
        <td >{{ person.email }}</td>
        <td >{{ person.phone | phone }}</td>
        <td appHighlight="yellow">
          <button (click)="viewPerson(person.personId)" class="btn btn-primary" >
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
